@model guzellik_salon.Models.GorevliModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GorevliModel</h4>
    <hr />
    @Html.HiddenFor(x=>x.gorevliNo)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mesaiDurum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mesaiDurum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salonNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salonNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
